.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 160%;
}

.example3 .nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

body {
    /*background-color: #f2f2f2;*/
    background-color: #f2eff5;
}

a{
    color: #990c0c;
}

a:link {
    color: #990c0c;
}


/* visited link */

a:visited {
    color: #990c0c;
}


/* mouse over link */

a:hover {
    color: #720808;
}


/* selected link */

a:active {
    color: #990c0c;
}

.advSearch {
    display: none;
}


/* Hiding the checkbox, but allowing it to be focused */

.badgebox {
    opacity: 0;
}

.badgebox+.badge {
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus+.badge {
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked+.badge {
    /* Move the check mark back when checked */
    text-indent: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-top: 50%;
}

/*button formatting*/

.btn-primary {
    background-color: hsl(0, 76%, 31%) !important;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e12323", endColorstr="#8b1212");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e12323), to(#8b1212));
    background-image: -moz-linear-gradient(top, #e12323, #8b1212);
    background-image: -ms-linear-gradient(top, #e12323, #8b1212);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e12323), color-stop(100%, #8b1212));
    background-image: -webkit-linear-gradient(top, #e12323, #8b1212);
    background-image: -o-linear-gradient(top, #e12323, #8b1212);
    background-image: linear-gradient(#e12323, #8b1212);
    border-color: #8b1212 #8b1212 hsl(0, 76%, 26%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.underline {
    text-decoration: underline;
}

hr{
    margin: 3px;
}

.footer{
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    color: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 0;
    
}

#footerContainer{
    vertical-align: text-top;
}